<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection properties - Driver, URL, user, password -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gsp?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">username</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Connection Pool Size -->
        <property name="hibernate.connection.pool_size">1</property>

        <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Outputs the SQL queries, should be disabled in Production -->
        <property name="hibernate.show_sql">true</property>

        <!-- Dialect is required to let Hibernate know the Database Type, MySQL, Oracle etc.
            Hibernate 4 automatically figure out Dialect from Database Connection Metadata -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Mapping with model class containing annotations -->
        <mapping class="projekat.januar.gsp.model.Vozilo"/>
        <mapping class="projekat.januar.gsp.model.TipVozila"/>
        <mapping class="projekat.januar.gsp.model.PodtipVozila"/>
        <mapping class="projekat.januar.gsp.model.Garaza"/>
        <mapping class="projekat.januar.gsp.model.Vozac"/>
        <mapping class="projekat.januar.gsp.model.Kategorija"/>
        <mapping class="projekat.januar.gsp.model.RadnoVreme"/>
        <mapping class="projekat.januar.gsp.model.Terminus"/>
        <mapping class="projekat.januar.gsp.model.Stajaliste"/>
        <mapping class="projekat.januar.gsp.model.Linija"/>
        <mapping class="projekat.januar.gsp.model.Telefon"/>
        <mapping class="projekat.januar.gsp.model.PreduzeceZaProdajuVozila"/>
        <mapping class="projekat.januar.gsp.model.TipStajalista"/>
        <mapping class="projekat.januar.gsp.model.Zona"/>
        <mapping class="projekat.januar.gsp.model.RedVoznje"/>
        <mapping class="projekat.januar.gsp.model.Smer"/>
        <mapping class="projekat.januar.gsp.model.PovlascenaKarta"/>
        <mapping class="projekat.januar.gsp.model.TipPovalstice"/>
        <mapping class="projekat.januar.gsp.model.Karta"/>
        <mapping class="projekat.januar.gsp.model.Smena"/>
        <mapping class="projekat.januar.gsp.model.PeriodVazenja"/>
        <mapping class="projekat.januar.gsp.model.TipGaraze"/>
        <!--<mapping class="projekat.januar.gsp.model.KategorijaVozila"/>-->
    </session-factory>
</hibernate-configuration>